<div id="ads_form">
  <h2>Add new Ads</h2>
  <p>
    <%= link_to " Ads management", ads_path %>
    ><%= @ad.name %></a>
  </p>
  <div class="formads">
    <%= form_for :ad, :url=>ad_path(@ad.id), :method=>"put"   do |f| %>
		<span class="adsspan">
                <%= f.label :pageId, "Choose landing page" %>
                <%= select_tag 'ad[pageId]',  options_from_collection_for_select(@listPages, 'id', 'pageName', @ad.pageId) ,:class=>"selectbox required",:name=>'ad[pageId]' %>
			</span>
		<span class="adsspan">
			<%=f.label :name ,"Name" %>
          <%=f.text_field :name,:class=>"inputbox required" %>
		</span>
		<span class="adsspan">
			<%=f.label :hasContactButton ,"Contact Button"%>
          <%=f.check_box :hasContactButton %>
          <input type="hidden" value="0" />
		</span>
		<span class="adsspan">
			<%=f.label :active,"Active" %>
          <%=f.check_box :active  %>
          <input type="hidden" value="0" />
		</span>

		<span class="adsspan">
		    <%=f.label :languageCode ,"Choose language" %>
            <%= select_tag 'ad[languageCode]',  options_from_collection_for_select(@listLanguages, 'languageCode', 'languageName', @ad.languageCode) ,:class=>"selectbox",:name=>'ad[languageCode]' %>
		</span>
        <div class="editor">
          <%=f.label :ad1Content, "Ads Content" %>
          <div class="editor_container">
            <%=f.text_area :ad1Content,:class=>"textbox ckeditor" %>
          </div>
			<span class="preview" style="line-height:40px;" onMouseOver="loadPreviewAds();">&nbsp;Preview
				<span id="previewAdsContent" class="adscontentpreview"></span>
			</span>
        </div>
        <div class="editor">
          <%=f.label :popupContent,"Popup Content" %>
          <div class="editor_container">
            <%=f.text_area :popupContent,:class=>"textbox ckeditor" %>
          </div>
			<span class="preview" style="line-height:40px;" onMouseOver="loadPopupContent();">&nbsp;Preview
				<span id="previewPopupContent" class="popupcontentpreview"></span>
			</span>
        </div>
		<span class="adsspan">
			<%=f.label :cbExplanationText, "Explanation Text" %>
          <%=f.text_field :cbExplanationText ,:class=>"inputbox" %>
		</span>
		<span class="adsspan">
			<%=f.label :cbPrefilledText, "Prefilled Text" %>
          <%=f.text_field :cbPrefilledText ,:class=>"inputbox" %>
		</span>
		<span class="adsspan">
			<%=f.label :cbTargetEmail, "Target Email" %>
          <%=f.text_field :cbTargetEmail ,:class=>"inputbox" %>
		</span>
		<span class="adsspan">
			<%=f.label :cbButtonName, "Button Name" %>
          <%=f.text_field :cbButtonName ,:class=>"inputbox" %>
		</span>

		<span class="adsspan">
		    <label>&nbsp;</label>
            <input type="hidden" name="ad[id1]" value="<%= @ad.id1 %>">
            <%= f.submit :value=>"Save", :class=>"button" %>
		</span>
    <% end %>
  </div>

</div>

