<%
@privilege = 1
%>
<div id="user_form" class="relative">
	<h2>Add new User</h2>
	<p>
		<%= link_to "Users management", @user%>
		> Add new User
    </p>
    <div class="form">
    		<%= form_for :post, url: users_path, :method=>"post" do |f|%>
			<span>
				<%= f.label :username, "User name"%>
				<%= f.text_field :username, :class=>"inputbox required"%>
				 <span id="lblMsg" class="msg" style="color:red; margin-left: 10px;">
			</span>
			</span>
            <span>
				<%= f.label :privilege, "privilege"%>
				<!-- <select name="data[privilege]" class="selectbox <?php if ($privilege == 1) echo 'levelSelect'; ?>">
                	<?php echo getSelectObject($usersArr, $data['privilege'], 'privilege', 'userType');?>
                </select> -->
               <%= select_tag "post[privilege]",  options_for_select([["APG",1],["SWAT Leader",50],["SWAT Team",100]])%>
                
			</span>
			<% if @privilege == 1 %>
			<span class="leader">
				<%= f.label :leader, "Leader"%>
				<!-- <select name="data[leaderId]" class="selectbox">
                	<?php echo getSelectObject($arrLeaders, $data['leaderId'], 'id', 'username');?>
                </select> -->
			</span>
			<%  end %>
            <span>
				<label>Password</label>
				<%= f.password_field :password, :class=>"inputbox required"%>
			</span>
            <span>
				<%= f.label :name, "Name"%>
				<%= f.text_field :name, :class=>"inputbox required" %>
			</span>
            <span>
				<%= f.label :email, "Email" %>
				<%= f.text_field :email, :class=>"inputbox email"%>
			</span>
            <span>
				<label>Description</label>
				<%= f.text_area :description, :class=>"textbox"%>
			</span>
            <span>
				<label>Can Edit Analytics Code</label>
				 <%= f.check_box :enabledAnalCode, :value=>"1"%>
                 <input type="hidden" value="0" />
			</span>
            <span>
				<label>Active</label>
				<%= f.check_box :status, :value=>"1"%>
                <input type="hidden" value="0" />
			</span>
			<span>
				<label>&nbsp;</label>
				<%= f.submit "Save", :disable_with => 'Save', :class=>"button"%>
			</span>
			<input type="hidden" id="txtListUsername" value="" />
		<% end %>
    </div>
    
</div>