<h2>Add landing page</h2>
<p>
  <%= link_to "Landing page list", :controller=>"pages" %>
  > Add Landing page
</p>
<div class="form">
  <%= form_for :page, :url=>page_path(@page.id), :method=>"put" do |f| %>
        <span class="relative">
          <%= f.label :pageName, "Page name"%>
          <%= f.text_field :pageName, :class=>"inputbox required"%>
          <div class="help">This is internal page name. It will not show anywhere on the front end.</div>
        </span>
        <span class="relative">
          <%= f.label :url, "URL"%>
          <%= f.text_field :url, :class=>"inputbox" %>
          <div class="help">Do not use http:// here</div>
        </span>
        <span>
          <%= f.label :background, "Background color" %>
          <%= f.text_field :background, :class=>"inputbox color_picker",  :value=>"ffffff", :id=>"background" %>
        </span>
        <span>
          <%= f.label :alterBackground, "Alter-background color" %>
          <%= f.text_field :alterBackground, :class=>"inputbox color_picker", :value=>"e9e9e9" %>
        </span>
        <span>

        </span>
      <div id="logo">
        <%= f.label :logo, "Logo" %>
        <div class="input_file"><%= f.file_field :logo ,:class=>"inputbox" %></div>
        <b class="open_gallery">From Library</b>
        <div class="thumb_image">
          <label>&nbsp;</label>
          <div></div>
                    <span class="remove_img">
                        <span title="Remove Image"></span>
                    </span>
        </div>
        <input type="hidden" name="gLogo" />
        <div class="image_help">The size of the image should be 40x40 pixels</div>
      </div>

        <span class="relative">
          <%= f.label :pageTitle, "Page title" %>
          <%= f.text_field :pageTitle ,:class=>"inputbox" %>
          <div class="help">Logo and Title will show on the top left of your page</div>
		</span>
        <span class="block_section4">
          <%= f.label :analyticCode , "Analytic code" %>
          <%= f.text_area :analyticCode , :class=>"textbox" %>
        </span>
        <span>
          <%= f.label :useDefaultAnalytic ,"Use default analytic code" %>
          <%= f.check_box :useDefaultAnalytic, :value=>"1", :checked=>"checked"%>
        </span>
        <span>
          <%= f.label :useGlobalTutorial ,"Use global tutorial" %>
          <%= f.check_box :useGlobalTutorial, :value=>"1", :checked=>"checked"%>
        </span>
         <span class="relative">
          <%= f.label :displayCode, "Display code" %>
           <%= f.text_field :displayCode ,:class=>"inputbox" %>
           <div class="help">To identify user. Not visible on the front end.</div>
		</span>
        <span>
          <%= f.label :buttonUrl, "Button URL" %>
          <%= f.text_field :buttonUrl ,:class=>"inputbox" %>

		</span>

       <span class="lang_list">
          <%= f.label :languages, "Choose Languages" %>
         <div>
           <% @listlanguages.each do |language|
              @languageCode = language.languageCode %>
               <%= %>
               <%= check_box_tag 'page[languages][]', language.languageCode ,Page.checkLanguages(@page.languages.split(','),@languageCode) %>
               <input type="hidden" value="end" />
               <%= language.languageName %>
           <% end %>
         </div>
		</span>

        <span>
          <%= f.label :active, "Active" %>
          <%= f.check_box :active, :checked=>"checked", :value=>"1" %>
        </span>
        <span>
			<label>&nbsp;</label>
            <%= link_to  "Manage Blocks of this Landing page", :controller=>"blocks",:action=>"index",:id=>(@page.id) %>
		</span>
		<span>
			<label>&nbsp;</label>
            <%= link_to  "Manage Ads of this Landing page", :controller=>"ads",:action=>"index",:id=>(@page.id) %>
		</span>
      <div class="separator"></div>
      <div class="fleft">
             <span>
			    <%= f.label :language, "Choose language"%>
                <%= select_tag 'page[languageSelect][]',  options_from_collection_for_select(@listlanguages, 'languageCode', 'languageName', '1') ,:class=>"languageSelect selectbox" %>

			</span>
             <span>
                <label>Button text</label>
                <input type="text" name="pageTextData[buttonText]" value="<%= @p.buttonText%>" class="inputbox" />
            </span>
            <span>
                <label>Inactive message</label>
                <textarea name="pageTextData[message]" class="textbox"><%= @p.message%></textarea>
            </span>
             <span>
            <label>&nbsp;</label>
            <%= f.submit :value=>"Save", :class=>"button" %>
        </span>
      </div>

      <div class="fright" id="app_list2">
        <table class="list" cellpadding="0" cellspacing="0">
          <thead>
          <tr>
            <td width="8%">Icon</td>
            <td>App</td>
            <td width="15%">Order</td>
            <td width="24%">Task</td>
          </tr>
          </thead>
          <tbody>
          <?php
					if(count($apps) > 0):
          foreach($apps as $group){
          $groupName = $group[0]->platformName;
          $platform = $group[0]->platform;
          $linkAddApp = "index.php?c=page&task=addApp&pageId=$pageId&languageCode=$languageCode&platform=$platform&platformName=$groupName";
          ?>
          <tr class="group_name" bgcolor="lavender">
            <td colspan="20"><?php echo $groupName;?><a href="<?php echo $linkAddApp;?>">+ Add <?php echo $groupName;?> Apps</a></td>
          </tr>
          <?php
						$cnt = count($group);
						$i = 0;
						foreach($group as $row){
							$appId = $row->appId;
          $appPageId = $row->appPageId;
          $linkMoveDown = "index.php?c=page&task=changeOrderApp&move=1&appPageId=$appPageId&pageId=$pageId&languageCode=$languageCode&platform=$platform";
          $linkMoveUp = "index.php?c=page&task=changeOrderApp&move=0&appPageId=$appPageId&pageId=$pageId&languageCode=$languageCode&platform=$platform";
          $linkDelete = "index.php?c=page&task=deleteApp&id=$appPageId&pageId=$pageId&languageCode=$languageCode&platform=$platform";
          ?>
          <tr>
            <td><img alt="Icon" src="<?php echo HPATH_STORIES_IMAGES . $row->appIcon;?>"></td>
            <td><?php echo $row->appName;?></td>
            <td class="order">
              <?php
							if($cnt > 1){
              if($i == 0){
              ?>
              <a class="narrow_down" title="Move down" href="<?php echo $linkMoveDown;?>">
                <img src="images/ico_move_down.png" border="0">
              </a>
              <?php } elseif($i == $cnt - 1){?>
              <a class="narrow_up" title="Move up" href="<?php echo $linkMoveUp;?>">
                <img src="images/ico_move_up.png" border="0">
              </a>
              <?php } else{?>
              <a class="narrow_up" title="Move up" href="<?php echo $linkMoveUp;?>">
                <img src="images/ico_move_up.png" border="0">
              </a>
              <a class="narrow_down" title="Move down" href="<?php echo $linkMoveDown;?>">
                <img src="images/ico_move_down.png" border="0">
              </a>
              <?php }}?>
            </td>
            <td>
              <a rel="<?php echo $linkDelete;?>" href="#app_list2" class="confirmDelete">Delete</a>
            </td>
          </tr>
          <?php
							if($i < $cnt) $i += 1;
						}
					}
					endif;
				?>

          <?php
					if(count($otherPlatforms) > 0):
          foreach($otherPlatforms as $row){
          $groupName = $row->name;
          $platform = $row->platform;
          $linkAddApp = "index.php?c=page&task=addApp&pageId=$pageId&languageCode=$languageCode&platform=$platform&platformName=$groupName";
          ?>
          <tr class="group_name" bgcolor="lavender">
            <td colspan="20"><?php echo $groupName;?><a href="<?php echo $linkAddApp;?>">+ Add <?php echo $groupName;?> Apps</a></td>
          </tr>
          <?php } endif;?>
          </tbody>
        </table>
      </div>
      <div class="clear"></div>
      </div>
      <input type="hidden" name="id" value="<?php dumpForm($page, 'id');?>">
      <input type="hidden" name="pageData[id]" value="<?php dumpForm($page, 'id');?>">
      <input type="hidden" name="pageTextId" value="<?php dumpForm($pageText, 'id');?>">
      <input type="hidden" name="languageCode" value="<?php dumpForm($pageText, 'languageCode');?>">
      <input type="hidden" name="oldLogo" value="<?php dumpForm($page, 'logo');?>">
  <% end %>

</div>

